@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_FormLayout";
}

<div class="headline">Login</div>
<form class="form" method="post" asp-controller="Auth" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    @Html.EditorForModel()
    <input type="submit" value="Sign in" />
    <a asp-controller="Auth" asp-action="GoogleLogin">
        <img src="https://i.imgur.com/IjVIMxf.png" alt="Sign in with Google" />
    </a>
</form>
<a class="authLink" asp-controller="Auth" asp-action="Register">Create an account</a>