@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "";
}
<span style="cursor: pointer;" onclick="{
    var winForm = window.open('https://localhost:7256/Studio/LoadNewTrack','','scrollbars=1');
    winForm.resizeTo(500,450);
}">
    load new track
</span>
@Html.ActionLink("My tracks", "MyTracks")
@Html.ActionLink("My albums", "Albums")
@Html.ActionLink("Create album", "CreateAlbum")