@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "";
}

<span onclick="loadPage('/Studio/LoadNewTrack/', function() {
    form();
    customSelect();
    imgInput();
    mp3Input();
})">
load new track
</span>
@Html.ActionLink("My tracks", "MyTracks")
@Html.ActionLink("My albums", "Albums")
@Html.ActionLink("Create album", "CreateAlbum")