@using Planscam.Extensions
@model UserViewModel

@{
    ViewBag.Title = "Profile editing";
    Layout = "_Layout";
}

@using (Html.BeginForm(FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    
}

<div class="edit_block">
    <div class="container">
        <div class="edit_information_block">
            <div class="edit_name_block">
                <div class="edit_name_label"><p>Name</p></div>
                <div class="edit_name_change"><input type="text"></div>
            </div>
            <div class="edit_email_block">
                <div class="edit_email_label"><p>Email</p></div>
                <div class="edit_email_change"><input type="text"></div>
            </div>
            <div class="edit_author_block">
                <div class="edit_author_label"><p>IsAuthor</p></div>
                <div class="edit_author_checkbox"><input type="checkbox"></div>
            </div>
        </div>
        <div class="edit_img_block">@Html.DrawUserAvatar(Model.Picture)</div>
    </div>
</div>
<div class="upload_files_block">
    <input type="file" name="UploadImage"/>
    <input type="submit" value="submit"/>
</div>


<style>
    .container {
        display: block;
        justify-content: space-between;
        flex: 1;
        font-size: 20px;
        margin: 50px;
        }
    .edit_email_block, .edit_name_block, .edit_author_block {
        display: flex;
    }
    .edit_author_label, .edit_email_label, .edit_name_label {
        margin-right: 20px;
    }
    .edit_img_block img {
        width: 200px !important;
        height: 180px !important;
    }
    .edit_author_checkbox {
        padding: 17px 0;
    }
    .edit_name_change input, .edit_email_change input{
    border-bottom:  1px solid var(--color2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    size: 50px;
    background-color: #1f1f1ff0;
    margin: 25px 0;
    }
    .edit_email_label {
    margin-right: 25px;
    }
    .upload_files_block {
    margin-left: 50px;
    }
</style>