@using Microsoft.AspNetCore.Mvc.Rendering
@using Planscam.Extensions

@{
    Layout = "";
}

<div class="ownedContainer">
    <span class="ownedTitle">
        Playlists
    </span>
    <div class="trackListContainer">
    </div>
</div>

<div class="lineVertical glowing1 bcolor1" style="height: 100%;">⠀</div>

<div class="ownedContainer">
    <span class="ownedTitle">
        Tracks
    </span>
    <div class="trackListContainer">
    </div>
</div>

<div class="ownedContainer">
    <span class="ownedTitle">
        Authors
    </span>
    <div class="trackListContainer">
    </div>
</div>