@using Planscam.Extensions
@model Planscam.Entities.Track

<div>
    @Html.DrawSmallTrackPic(Model.Picture)
    @Html.DisplayForModel()
    @using (Html.BeginForm("AddTrackToFavourite", "Tracks", new {trackId = Model.Id}, FormMethod.Post))
    {
        <input type="submit" value="+"/>
    }
</div>